*{
  padding: 0;
  margin: 0;
  background-origin: border-box;    
  font-family: Manrope;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;1,700&display=swap');

body {
  --bg: #1D2226;
  --roxo: #A785ED;
  --rosa: #E25EBF;
  --rosaClaro: #FFB6EB;
  --rosaMedio: #E183C8;
  --cinza: #C4C4C4;
  --cinzaClaro: #FDFDFD;
  --laranjaClaro: #E17B7B;
  --branco: #ffffff;
  --preto:  #171B1E;
  --pretoAzul: #0F1C26;
  --preto2: #0B1217;

  display: grid;
  /* place-content: stretch;
  place-items: stretch; */
 
  font-family: Manrope;
  background-color: var(--bg);
  color: #FDFDFD;
}
/* .App {
  
} */
/* ====================================== */

/* ================================== */
.conteiner{
  margin-left: 96px;

}
.conteiner h1{
  margin-top: 24px;
  margin-bottom: 20px;
}

/* =============================== */
.topo{
    
  display: flex;      
  height: 104px;
  max-width: 1481px;
  justify-content: space-between; 
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: var(--pretoAzul);
  align-items: center;

}
.topo .pesquisa{
  display: flex;
  width: 456px;
  height: 56px;
  background-color: var(--preto);
  align-items: center;
  border: 1px solid var(--branco);
  border-radius: 2px;
}
.topo input{
  width: 456px;
  height: 56px;
  background-color: var(--preto);
  border: transparent;
  padding-left: 1em;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
/* .topo input:focus{
  
} */
.pesquisa svg{
  margin-right: 1.5em;
  margin-bottom: 0.6em;

}

.topo .btFav, .btPromo{
  width: 101px;
  height: 24px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  color: var(--cinzaClaro);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  
}

.topo a{
  
  margin-left: 8px;
  text-decoration: none;
  color: var(--cinzaClaro);
  padding-bottom: 3px;

}
.topo .links{
  padding-bottom: 5px;
}
.conta{
  padding-bottom: 39px;
}
.topo svg{
  transform: translateY(6px);
}
.topo a.linkProfile{
  margin-bottom: 180px;
}

.topo img{
  height: 56px;
  width: 56px;
  margin-left: 8px;
  transform: translateY(20px);
}
/* ===================================== */
.divisoria{
  margin-top: 40px;
  margin-bottom: 24px;
}

section{
    display:grid;  
    gap: 24px;
    max-width: 955px;    
    grid-template-columns: repeat(auto-fit,minmax(168px,1fr));
}
.btgenero{

  width: 168px;
  height: 38px;
  background-color: transparent;
  border: 2px solid var(--branco);
  color: var(--branco);
  cursor: pointer;
  
}
.btgeneroOn{
  background: rgba(225, 131, 200, 0.2);
  border: 2px solid var(--rosaMedio);
  width: 168px;
  height: 38px;
  color: var(--rosaMedio);
  cursor: pointer;
}

/* ================================= */

.sacola{
  
  position: relative;
  width: 312px;
  height: 537px;
  border: solid 2px peachpuff;
  position: -webkit-sticky;
  position: fixed;
  left: 70%;
  top: 148px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  text-align: center;
  
}
.topoSacola{
  display: flex;
  width: 312px;
  height: 72px;
  background: linear-gradient(0deg, #A785ED, #A785ED), #C4C4C4;
  justify-content: center;
  align-content: center;
  
}

.topoSacola svg{
  transform: translateY(12px);
}

.topoSacola p{
  font-style: normal;
  line-height: 150%;
  font-size: 24px;
  font-weight: bold;
  color: var(--cinzaClaro);
}
.sacolaInput{
  
  width: 280px;
  height: 40px;
  border: 1px solid var(--branco);
  background-color: var(--preto2);
  transform: translateX(16px);

}
.sacola span{
  font-size: 12px;
  line-height: 150%;
  color: var(--cinzaClaro);
  margin-right: 60%;
}
.sacolaInput
input{
  width: 255px;
  height: 40px;
  background-color: var(--preto2);
  border: transparent;
  font-size: 16px;
  line-height: 150%;
  color: #FDFDFD;

}
.sacolaInput svg{
  margin-bottom: 10px;
  
}
